Default
1 
5000 
24 
11 
4 
9 2 
-1 -1 
9 4 
1 
cccccccc ccc c c c c
                    
                    
                    
                    
                    
                    
                    
                    
                    
