3 
100 
28 
25 
2 
17 4 
1 1 
9 8 
(null) 
0 
cccccccccccccc ccccc
                    
                    
                    
                    
                    
                    
                    
                    
                    
