Defaults
1 
6 
1100 
28 
23 
1 
16 1 
1 1 
14 8 
   c cc  c c     ccc
                    
                    
                    
                    
                    
                    
                    
                    
                    
