sdoewsd
20 10 
ccccRcccrccccccccccc
         G          
           g        
                    
                    
                    
      PPPP          
                    
                    
                    
